<script lang="ts" setup>
import { type Ref, onMounted, ref } from 'vue'

const wrapper: Ref<HTMLElement> = ref()
const focusableEls: Ref<Array<HTMLElement>> = ref([])
const firstFocusableEl: Ref<HTMLElement> = ref()
const lastFocusableEl: Ref<HTMLElement> = ref()

function handleBackwardMove(event: KeyboardEvent): void {
  if (document.activeElement === firstFocusableEl.value) {
    event.preventDefault()
    lastFocusableEl.value.focus()
  }
}

function handleForwardMove(event: KeyboardEvent): void {
  if (document.activeElement === lastFocusableEl.value) {
    event.preventDefault()
    firstFocusableEl.value.focus()
  }
}

function handleKeyDown(event: KeyboardEvent): void {
  if (['Tab', 'ArrowDown', 'ArrowUp'].includes(event.key)) {
    if (focusableEls.value.length === 1) {
      event.preventDefault()
      return
    }
    if (event.key === 'Shift' || event.key === 'ArrowUp') {
      return handleBackwardMove(event)
    }
    return handleForwardMove(event)
  }
}

onMounted(() => {
  const selectors =
    'a[href], ' +
    'input:not([disabled]), ' +
    'select:not([disabled]), ' +
    'textarea:not([disabled]), ' +
    'button:not([disabled])'

  const getEls: NodeListOf<Element> = wrapper.value.querySelectorAll(selectors)

  focusableEls.value = Array.from(getEls) as Array<HTMLElement>
  firstFocusableEl.value = focusableEls.value[0]
  lastFocusableEl.value = focusableEls.value.slice(-1)[0]

  wrapper.value.addEventListener('keydown', handleKeyDown)
  firstFocusableEl.value.focus()
})
</script>

<template>
  <div ref="wrapper" class="dialog-focus-lock">
    <slot />
  </div>
</template>
